.about-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    background-image: url(./mobile-image-hero-3.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
}

@media only screen and (min-width: 1200px) {
    .about-container {
        max-width: 55vw;
        height: 60vh;
        background-image: url(./desktop-image-hero-3.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
    }
    .about {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        position: relative;
    }
    .about-text {
        align-items: center;
        max-width: 30%;
        font-size: 1rem;
        margin: auto auto;
    }
}