.contant-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 1200px) {
    .contant-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0;
    }
    .dark-img {
        min-width: 33vw;
        min-height: 20vw;
    }
    .light-img {
        min-width: 32vw;
        min-height: 21vw;
    }
    .contant-text {
        padding: 1rem 2rem;
        width: 35vw;
        font-size: 1rem;
        margin: 0;
    }
}
